
/* Structure */
table {
  table-layout: fixed;
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tr.hoveringRow:hover{
  cursor: pointer;
  background-color: #f3f5f9;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z6{
  margin-top: 1%;
}

.mat-form-field{
  font-size: 14px;
  width: 50%;
}
.Rechercher{
  margin-left: 2%;
}


button{
  position:relative;
    display:inline-block;
    float:right;

    background-color: rgb(201 203 212);
    margin-top: 1%;

}
.modifierEns{
  background-color: white;
  position:relative;
  display:inline-block;
  float: left;
}
