/* Structure */
table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}