<mat-card >
    <br>
    <mat-card-title class="center"> Eleve-1023849</mat-card-title>
    <br><br>
    <mat-card>
      <mat-card-title>Nom :</mat-card-title>
      <mat-card-content>HAMZAOUI</mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Prénom :</mat-card-title>
      <mat-card-content>Aymen</mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Age :</mat-card-title>
      <mat-card-content>22 ans</mat-card-content>
    </mat-card>
    <br><br>
    <div class="center">
      <button mat-raised-button color="primary">Retour</button>
    </div>
  </mat-card>