.center{
    display:flex;
    align-items: center;
    justify-content: center;
  }
.titleItems{
  font-family: sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: black;
  width: 30%;
  float: left;

}

button{
  margin-top: 30%;
}

.fixed{
  position: sticky;
  top:0;
  z-index: 999;
  background-color: white;
}

.title{
  padding: 10px;
}
