

  <div>
    <mat-card-title>{{code}}</mat-card-title>
    <mat-card>
      <mat-card-title>Diplome</mat-card-title>
      <mat-card-content>{{data.diplome}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Nombre d'année</mat-card-title>
      <mat-card-content>{{data.no_annee}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Nom Formation</mat-card-title>
      <mat-card-content>{{data.nom_formation}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Double Diplome</mat-card-title>
      <mat-card-content>{{data.double_diplome}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Debut Habilitation</mat-card-title>
      <mat-card-content>{{data.debut_habilitation}}</mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Fin Habilitation</mat-card-title>
      <mat-card-content>{{data.fin_habilitation}}</mat-card-content>
    </mat-card>
  </div>
  <br><br>
  <app-formations-table [isClickable]="false"></app-formations-table>
  <div class="center">
    <button (click)="retourner()" mat-raised-button color="primary">Retour</button>
  </div>

