<mat-card>

    <mat-card-title>{{this.data.code}}</mat-card-title>
    <br />
    <mat-card-title>
      <span class="titleItems">Diplome : </span>
      <span  *ngIf="data.diplome=='L'" style="font-family: sans-serif;font-size: 16px;">Licence</span>
      <span  *ngIf="data.diplome=='M'" style="font-family: sans-serif;font-size: 16px;">Master</span>
      <span  *ngIf="data.diplome=='DUT'" style="font-family: sans-serif;font-size: 16px;">DUT</span>
    </mat-card-title>
    
    <br />
    <mat-card-title>
      <span class="titleItems">Nombre d'année : </span>
      <span style="font-family: sans-serif;font-size: 16px;">{{data.no_annee}}</span>
    </mat-card-title>
    <br>
    <mat-card-title>
      <span class="titleItems">Nom Formation : </span>
      <span style="font-family: sans-serif;font-size: 16px;">{{data.nom_formation}}</span>
    </mat-card-title>
    <br>
    <mat-card-title>
      <span class="titleItems">Double Diplome : </span>
      <span *ngIf="data.double_diplome=='n' || data.double_diplome=='N' " style="font-family: sans-serif;font-size: 16px;">Non</span>
      <span *ngIf="data.double_diplome=='O' || data.double_diplome=='o'" style="font-family: sans-serif;font-size: 16px;">Oui</span>
    </mat-card-title>
    <br>
    <mat-card-title>
      <span class="titleItems">Debut Habilitation : </span>
      <span style="font-family: sans-serif;font-size: 16px;">{{data.debut_habilitation}}</span>
    </mat-card-title>
  <br><br> 
  <app-formations-table [isClickable]="false"></app-formations-table>
  <div class="center">
    <button (click)="retourner()" mat-raised-button color="primary">Retour</button>
  </div>
</mat-card>